
.video {
    width: 330px;
    height: 285px;
    margin-bottom: 50px;
    background-color: #303030;
    border-radius: 10px;
    color:whitesmoke;
}

.video img{
    height: 185px;
    width: 330px;
    border-radius: 10px;
}